<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>System Info</title>

	<link rel="stylesheet" type="text/css" href="/__info__/static/style.css" media="all"/>
	<link rel="stylesheet" type="text/css" href="/__info__/static/app.css" media="all"/>
</head>
<body>

<div class="pure-g">

	<div class="pure-u-1">
		<table class="pure-table pure-table-bordered">
			<tbody>
			<tr>
				<td>OS</td>
				<td>{{.OS}}</td>
			</tr>
			<tr>
				<td>Hostname</td>
				<td>{{.Hostname}}</td>
			</tr>
			<tr>
				<td>IP Addresses</td>
				<td>
					{{ range $key, $interface := .IPAddresses}}
						<p><strong>{{$key}}</strong> - {{ range $index, $ip := $interface}}{{$ip}}, {{ end }}</p>
					{{ end }}
				</td>
			</tr>
			</tbody>
		</table>
	</div>

</div>

</body>
</html>